@import '../../theme/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.editor-window {
    position: fixed;
    z-index: 9999;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.editor-content {
    background-color: $background;
    flex: 1;
    color: $foreground;
    font-family: 'Noto Sans', sans-serif;
    padding: 8px;
    overflow-x: scroll;
    overflow-y: scroll;
    font-size: 14px;
    white-space: nowrap;

    .save-status {
        float: right;
        color: $lightgray;
        font-size: 12px;
    }
}

.editor-drag {
    width: 20px;
    background-color: gray;
    cursor: ew-resize;
    z-index: 1000;
}
