@import '../../theme/colors.scss';

.json-editor {
    overflow-x: hidden;
    box-sizing: border-box;

    border-style: solid;
    border-color: transparent;
    border-radius: 2px;
    border-width: 1px;

    padding: 2px;

    .json-key {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: $highlightedbackground;
        }
    }

    .json-value {
    }

    input {
        background-color: $background;
        color: $string;
        border: none;
        box-sizing: border-box;
        border-width: 1px;
        border-color: transparent;
        border-style: solid;
        outline: 0;
        width: 200px;
        margin-left: 20px;
        padding: 5px;

        &:focus {
            border-color: $focusblue;
        }
    }

    &.focused {
        border-color: $focusblue;
    }
}